html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}
* {
    box-sizing: inherit;
    font-family: nunito, sans-serif;
}
.section-container{
    width:100%;
    height: 90%;
    display: flex;
    background: -moz-linear-gradient(45deg,  #4f74a3 0%, #192739 59%);
    background-color: -webkit-linear-gradient(45deg, #4f74a3 0%,#192739 59%);
    background: linear-gradient(45deg, #4f74a3 0%,#192739 59%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f74a3', endColorstr='#192739',GradientType=1 );
    /* flex-direction: row;
    order: -1; */
}
.content{
    margin: -75px;
}
.section-container-hero{

    width: 100%;
    height: 100%;
    background-image: url(Archive/hive_bg.svg);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

}
.header-container{
    padding: 15px;
}

.navigation {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: nunito;
    color: white;
}
li {
    display: inline;
    flex-grow: 1;
    margin: 0 30px;
}
.nav-header {
    float: left;
    list-style-type:none;
    display: flex;
}

#link-llpa{
    text-decoration: none;
    color: white;
    font-family: nunito;
}
.button:hover{
    background: linear-gradient(left,#e7663b  100%,#7972a5 24deg,#e7663b 78deg,#fda00a 100deg);
    background-image: linear-gradient(to right,  #24b4f2 0%, #d43459  51% );
    transition: all .15s;
    background-position:left bottom right top; 
    text-decoration: none;
    
}

.button {
  background-color:#192739; 
  color: white; 
  border: 2px solid white;
  align-items: center;
  padding: 10px 40px;
  border-radius: 10px;
  display: flex;
  font-size: 16px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.section-container-hero .content{
    display: flex;
    flex-grow:1;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



.text{
    /* text-align: left; */
    color: white;
    font-family: nunito;
    display: flexbox;
    padding: 0;
    margin: 0;
    list-style:none;
    box-sizing: border-box;
} 
.title {
    font-size: 20px;
    font-weight: 800;
    color: white;
}
.headline{
    font-size: 14px;
    color: #FC9F0A;
    margin-bottom: 20px;
}
.where_{
    font-size: 22px;
    color: #F2246B;
    margin-bottom: 20px;
}
.read_more{
    background: transparent;
    color: white; 
    border: 2px solid white;
    align-items: center;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    font-size: 18px;
    margin-right: 20px;
}
.read_more:hover {
    background: linear-gradient(left,#e7663b  100% 0deg,#7972a5 24deg,#e7663b 78deg,#fda00a 100deg);
    background-image: linear-gradient(to right,  #24b4f2 0%, #d43459  51% );
    transition: all .15s;
    background-position:left bottom right top; 
    text-decoration: none;
}  
.competition{
    height: 150%;
    width: 100%;
    min-height: 100%;
    background:#192739 ;
}
.competition-container-width {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.competition-icon {
    width: 290px;
    position: absolute;
    right: 0;
    top: -90px;
}
.competition-title{
    font-family: nunito, sans-serif;
    margin-top: 80px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    font-size: 40px;
}

.underline{
    border-bottom: 6px solid;
    border-color: #FC9F0A;
    border-radius:2px;
}

.pink {
    color: #f2246b;
}

.text_com{
    font-family: nunito, sans-serif;
    font-size: 18px;
    padding: 40px 60px 40px 60px;
    /* margin-top: 40px; */
    color: white;
    display: flexbox;
    margin: 0;
    list-style:none;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #192739 46%,#273445 100%);
}
.stats{
    display: flex;
    padding: 40px 0 60px 0;
    justify-content: center;
}
section .competition-container-width .stats img{
    margin: 0 20px;
}

.video{
    width: 100%;
    margin-bottom: 120px;
    margin: 0 100px;
    
}
.video_{
    display: flex;
    margin-left: 220px;
}
.why{
    height: 90%;
    width: 100%;
    padding-bottom: 80px;
}
.why-container-width{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.why-icon {
    width: 290px;
    position: absolute;
    left: 0;
    top: -90px;
}
.why-title{
    font-family: nunito, sans-serif;
    margin-top: 80px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    font-size: 40px;
    text-align: right;
}
.orange{
    border-bottom: 6px solid;
    border-color: #f2246b;
    border-radius:2px;

}
.why-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.left p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #484848;
  
    
}
.left ul{
   padding-left: 50px;
}

.left ul li{
    position: relative;
    margin-bottom: 20px;
    font-size: 18px;
    color: #484848;
}
.left{
    width: 50%;
}
.right{
    width:50%;
    padding-left: 40px;
}

.left ul li::before {
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #f2246b;
    position: absolute;
    left: -30px;
    top: 4px;
}
.right ul li{
    display: flex;
    min-width: 390px;
}

.right ul li{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    align-items: center;
    margin: 0 0 15px 0;
    border: 1px solid var(--color-light-gray);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
}
.blue_{
   
    flex-grow: 1;
    text-align: right;
    display: block;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: #24b4f2;
}
.pink_{
    
    flex-grow: 1;
    text-align: right;
    display: block;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: #f2246b;
}
.orange_{
   
    flex-grow: 1;
    text-align: right;
    display: block;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FC9F0A;
}
.sign-up{
    background-color: #e5e5e5;
    width: 100%;
    height: 55%;
}
.sign-up-width-container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sign-up-title{
    margin-top: 80px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}
.sign-up-content {
    display: flex;
    margin: 0 0;
    flex-direction: row;
}
.sign-up-text p{
    font-size: 18px;
    color: #484848;
    
}
.sign-up-text{
    display: flex;
    flex-direction: row;
}
.sign-up-text img{
    margin: -40px 60px 0 80px;
}
.sign-up-width-container a{
    display: inline-block;
    background-color: #f2246b;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    font-size: 24px;
    padding: 14px 40px;
    border-radius: 10px;
    margin-top: -70px;
    transition: all .3s;
    margin-right: 870px;
}

.titleblue{
    border-bottom: 6px solid;
    border-color: #24b4f2;
    border-radius:2px;
}
footer {
    width: 100%;
    height: 25%;
    background: #192739;
    display: flex;
    font-family: nunito, sans-serif;
}
.footer-width-container{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    
}

.logo{
    width: 180px;
}
.footer-width-container nav a{
    margin: 0 50px;
    text-decoration: none;
    color: white;
    font-family: nunito, sans-serif;
    
    text-transform: uppercase;
}